.navitem {
  color: #ffffff;
}
.divide {
  margin-top: 20px;
}
.icon {
  background: #fb4248;
  padding: 20px 7px 20px 7px;
  font-size: 35px;
  font-weight: 600;
  float: left;
  line-height: 27px;
  margin-right: 5px;
  margin-top: -25px;
  margin-bottom: -25px;
}
.div {
  overflow: hidden;
}
.img {
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.img:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}
