.p1,
.p2,
.p3 {
  height: 90%;
  width: 90%;
}

.p4,
.p5 {
  height: 70%;
  width: 90%;
}
.head {
  text-align: left;
  padding-left: 15px;
  padding-top: 15px;
}
.line {
  color: #f84348;
  height: 10px;
}
.txt {
  background: #f84348;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 5px 5px 5px;
}
.txt:hover {
  background: #d6dadb;
}
.block {
  margin-left: 700px;
  margin-top: -40px;
  margin-bottom: 50px;
}
.p1:hover,
.p3:hover,
.p4:hover,
.p2:hover,
.p5:hover {
  opacity: 0.5;
}
